################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New_Learnings_in_Dotnet/DapperProject/.vs/DapperProject/FileContentIndex/57938a30-b303-4af1-b816-32601b39ddff.vsidx
/New_Learnings_in_Dotnet/DapperProject/.vs/DapperProject/FileContentIndex/22a432a7-381b-4397-b9b1-ec3da40bea67.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/15523173-881c-4f52-aeb1-945f1202d68b.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/500427e5-08c1-460d-92f2-8b130e84f361.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/62453aca-0fe7-4dd8-b734-415341ccd0da.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/read.lock
/New_Learnings_in_Dotnet/Dotnet Practice Project/.vs/Dotnet Practice Project/FileContentIndex/cc9a2697-5e9a-4fbf-b6c3-3c5354559491.vsidx
/New_Learnings_in_Dotnet/Unit Testing/TestProject/.vs/TestProject/FileContentIndex/1c1dc659-258d-4fb6-ba51-7b36fb7bfd55.vsidx
/New_Learnings_in_Dotnet/Unit Testing/TestProject/.vs/TestProject/FileContentIndex/977ff2ea-016d-42e4-a672-13412925779d.vsidx
/New_Learnings_in_Dotnet/Unit Testing/TestProject/.vs/TestProject/FileContentIndex/92d5fc76-41ca-46d8-acd7-2b23b0aab46a.vsidx
/New_Learnings_in_Dotnet/Dotnet Practice Project/.vs/Dotnet Practice Project/FileContentIndex
/Dotnet_Projects/Export Dataset to Excel in C#/ExportToExcel/.vs/ExportToExcel/FileContentIndex
/New_Learnings_in_Dotnet/Dataset To XLSX Format/.vs/Dataset_To_XLSX_Format/FileContentIndex/1276402a-03be-4869-9090-b33f8d02121c.vsidx
*.vsidx
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/.vs/ProjectEvaluation/webapiproject_in_dotnet_7.metadata.v7.bin
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/.vs/ProjectEvaluation/webapiproject_in_dotnet_7.projects.v7.bin
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/.vs/WebAPIProject_In_Dotnet_7/FileContentIndex/4194ad3e-56f8-46c0-971c-d50c3fe58f92.vsidx
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/.vs/WebAPIProject_In_Dotnet_7/FileContentIndex/read.lock
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/.vs/WebAPIProject_In_Dotnet_7/v17/.futdcache.v2
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/.vs/WebAPIProject_In_Dotnet_7/v17/.suo
*.json
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/obj/Debug/net7.0/WebAPIProject_In_Dotnet_7.AssemblyInfo.cs
/New_Learnings_in_Dotnet/Web API Project In Dotnet7/obj/Debug/net7.0/WebAPIProject_In_Dotnet_7.AssemblyInfoInputs.cache
