################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New_Learnings_in_Dotnet/DapperProject/.vs/DapperProject/FileContentIndex/57938a30-b303-4af1-b816-32601b39ddff.vsidx
/New_Learnings_in_Dotnet/DapperProject/.vs/DapperProject/FileContentIndex/22a432a7-381b-4397-b9b1-ec3da40bea67.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/15523173-881c-4f52-aeb1-945f1202d68b.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/500427e5-08c1-460d-92f2-8b130e84f361.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/62453aca-0fe7-4dd8-b734-415341ccd0da.vsidx
/New_Learnings_in_Dotnet/Linq In CSharp/.vs/Linq In CSharp/FileContentIndex/read.lock
/New_Learnings_in_Dotnet/Dotnet Practice Project/.vs/Dotnet Practice Project/FileContentIndex/cc9a2697-5e9a-4fbf-b6c3-3c5354559491.vsidx
