################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New_Learnings_in_Dotnet/DapperProject/.vs/DapperProject/FileContentIndex/57938a30-b303-4af1-b816-32601b39ddff.vsidx
/New_Learnings_in_Dotnet/DapperProject/.vs/DapperProject/FileContentIndex/22a432a7-381b-4397-b9b1-ec3da40bea67.vsidx
